In [1]:
#!pip install sklearn --upgrade

In [2]:
#!pip install joblib

In [3]:
import pandas as pd

Read the CSV and Perform Basic Data Cleaning

In [4]:
df = pd.read_csv("machine_learning.csv")
#Drop the null columns where all values are null
# df = df.dropna(axis='columns', how='all')
#Drop the null rows
# df = df.dropna()
df.head()

,Unnamed: 0,Plant Name,Season,Plant Type,State,Picture Link,Blooms,Zones,Sun Needs,Soil Needs,...,South Dakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
0,0,Aconite,Spring,Flower,NaN,https://www.proflowers.com/blog/wp-content/plu...,Early Spring,4--9,Partial Shade,Well-drained,...,0,0,0,0,0,0,0,0,0,0
1,1,Ageratum,Summer,Flower,NaN,https://www.proflowers.com/blog/wp-content/plu...,Mid Summer,5--9,Full Sun / Partial Shade,Well-drained,...,0,0,0,0,0,0,0,0,0,0
2,2,Allium,Spring,Flower,NaN,https://www.proflowers.com/blog/wp-content/plu...,Late Spring,3--10,Full Sun,Well-drained,...,0,0,0,0,0,0,0,0,0,0
3,3,Anemone,Spring,Flower,NaN,https://www.proflowers.com/blog/wp-content/plu...,Mid Spring,3--9,Full Sun / Partial Shade,"Well-drained, High fertility",...,0,0,0,0,0,0,0,0,0,0
4,4,Angelica,Summer,Flower,NaN,https://www.proflowers.com/blog/wp-content/plu...,Entire Summer,4--9,Partial Shade / Full Shade,"Well-drained, High fertility",...,0,0,0,0,0,0,0,0,0,0

In [5]:
df.columns

Index(['Unnamed: 0', 'Plant Name', 'Season', 'Plant Type', 'State',
       'Picture Link', 'Blooms', 'Zones', 'Sun Needs', 'Soil Needs',
       'Features', 'Animal Feed', 'Flower', 'Fruit', 'Grain/Nut', 'Other',
       'Vegetable', 'Fall', 'Fall and Winter', 'Spring', 'Spring and Summer',
       'Summer', 'Winter', 'Alabama', 'Alaska', 'Arizona', 'Arkansas',
       'California', 'Colorado', 'Connecticut', 'Delaware', 'Florida',
       'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas',
       'Kentucky', 'Louisiana', 'Maine', 'Maryland', 'Massachusetts',
       'Michigan', 'Minnesota', 'Mississippi', 'Missouri', 'Montana',
       'Nebraska', 'Nevada', 'New Hampshire', 'New Jersey', 'New Mexico',
       'New york', 'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma',
       'Oregon', 'Pennsylvania', 'Rhode Island', 'South Carolina',
       'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia',
       'Washington', 'West Virginia', 'Wisconsin', 'Wyoming'],
      dtype='object')

Select features (columns)

In [6]:
selected_features1 = df[['Flower', 'Fruit', 'Grain/Nut', 'Other',
       'Vegetable', 'Fall', 'Fall and Winter', 'Spring', 'Spring and Summer',
       'Summer', 'Winter', 'Alabama', 'Alaska', 'Arizona', 'Arkansas',
       'California', 'Colorado', 'Connecticut', 'Delaware', 'Florida',
       'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas',
       'Kentucky', 'Louisiana', 'Maine', 'Maryland', 'Massachusetts',
       'Michigan', 'Minnesota', 'Mississippi', 'Missouri', 'Montana',
       'Nebraska', 'Nevada', 'New Hampshire', 'New Jersey', 'New Mexico',
       'New york', 'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma',
       'Oregon', 'Pennsylvania', 'Rhode Island', 'South Carolina',
       'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia',
       'Washington', 'West Virginia', 'Wisconsin', 'Wyoming']]
selected_features1.head()

,Flower,Fruit,Grain/Nut,Other,Vegetable,Fall,Fall and Winter,Spring,Spring and Summer,Summer,...,South Dakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
0,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

Create a Train Test Split

In [12]:
#Use koi_disposition for the y values
# get X and y variables
y = df["Plant Name"]
X1 = selected_features1

In [13]:
# split the data to train and test values

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X1, y, random_state=42, stratify=y)

ValueError: The least populated class in y has only 1 member, which is too few. The minimum number of groups for any class cannot be less than 2.

In [9]:
X_train.head()

NameError: name 'X_train' is not defined

In [24]:
# selected_features2 = df[['Fall', 'Fall and Winter', 'Spring', 'Spring and Summer',
#        'Summer', 'Winter']]
# selected_features2.head()

# y2 = df["Season"]
# X2 = selected_features2

In [25]:
# from sklearn.model_selection import train_test_split

# X_train, X_test, y_train, y_test = train_test_split(X2, y2, random_state=42, stratify=y)
# X_train.head()

     Fall  Fall and Winter  Spring  Spring and Summer  Summer  Winter
112     0                0       0                  0       1       0
173     0                1       0                  0       0       0
81      0                0       0                  0       1       0
5       0                0       0                  0       1       0
28      0                0       1                  0       0       0

Pre-processing

In [32]:
from sklearn.preprocessing import LabelEncoder, MinMaxScaler,StandardScaler
#scale data
X_minmax = MinMaxScaler().fit(X_train)

X_train_scaled = X_minmax.transform(X_train)
X_test_scaled = X_minmax.transform(X_test)

Train the Model

In [38]:
from sklearn.linear_model import LogisticRegression
classifier_model = LogisticRegression()
classifier_model

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [40]:
#predictions
classifier_model.fit(X_train_scaled, y_train)
predictions = classifier_model.predict(X_test_scaled)
predictions

array(['Delphinium', ' Corn', 'Delphinium', ' Corn', 'Delphinium',
       ' Tomatoes', ' Rice', 'Delphinium', 'Delphinium', ' Apples',
       'Delphinium', ' Rice', ' Rice', ' Rice', 'Delphinium', ' Rice',
       ' Rice', 'Delphinium', ' Rice', ' Pumpkins', 'Delphinium',
       'Delphinium', ' Corn', ' Rice', 'Delphinium', ' Rice', ' Rice',
       ' Corn', 'Delphinium', 'Delphinium', 'Delphinium', 'Delphinium',
       ' Rice', ' Rice', ' Rice', ' Pumpkins', 'Delphinium', 'Delphinium',
       ' Rice', 'Delphinium', ' Corn', ' Lentils', ' Corn', ' Corn',
       ' Rice', ' Rice', ' Strawberries (and many Others)', ' Apples',
       'Delphinium', ' Rice', ' Apples', ' Corn', ' Rice', ' Corn',
       'Delphinium', ' Rice', 'Delphinium', ' Rice', ' Lentils',
       'Delphinium', ' Rice', 'Delphinium', ' Tomatoes'], dtype=object)

In [34]:
# from sklearn.svm import SVC 
# model = SVC(kernel='linear')
# model.fit(X_train_scaled, y_train)
# predictions = model.predict(X_test_scaled)
# model

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='linear',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [41]:
print(f"Training Data Score: {model.score(X_train_scaled, y_train)}")
print(f"Testing Data Score: {model.score(X_test_scaled, y_test)}")

Training Data Score: 0.3882978723404255
Testing Data Score: 0.0

In [42]:
# Calculate report
from sklearn.metrics import classification_report
print(classification_report(y_test, predictions,
                           target_names =['Delphinium', ' Corn', ' Rice']))

ValueError: Number of classes, 65, does not match size of target_names, 3. Try specifying the labels parameter

Hyperparameter Tuning

In [ ]:
#create the gridsearchcv model
from sklearn.model_selection import GridSearchCV
param_grid = {'C': [1, 5, 10, 50],
              'gamma': [0.0001, 0.0005, 0.001, 0.005]}
grid = GridSearchCV(model, param_grid, verbose=3)

In [ ]:
#train the model with gridsearch
grid.fit(X_train_minmax, y_train)

In [ ]:
print(grid.best_params_)
print(grid.best_score_)

Save the Model

In [ ]:
 # save your model by updating "your_name" with your name
# and "your_model" with your model variable
# if joblib fails to import, try running the command to install in terminal/git-bash
import joblib
filename = 'exoplanet_svm_model.sav'
joblib.dump(model, filename)